# Cmake build routine
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# IDEs
.vscode/

**/vs/.vs/
**/vs/commandcenter
**/vs/*.user
**/Debug # **/ not working ?
**/Release

**/bin/CommandCenter
**/bin/*.exe
**/bin/*.ilk
**/bin/TechTree.json
commandcenter/vs/CommandCenter/Debug
commandcenter/vs/CommandCenter/Release

vs/.vs/
vs/commandcenter

bin/CommandCenter
bin/*.exe
bin/*.ilk
bin/TechTree.json
*.tlog
*.obj
vs/RelWithDebInfo/CommandCenter.log
*.log
*.pdb
vs/CommandCenter.vcxproj
vs/CommandCenter.VC.db